head, body, html{
    margin: 0;
}

#canvas{
    background-color: red;
    width: 95vw; 
    height: 40vw;
}

/* .javamon-button:first-of-type{
    margin-top: 50px;
} */

h1{
    margin-left: 50px;
}

.javamon-button{
    margin: 10px;
    width: 100px;
    height: 60px;
    border-radius: 40px;
    box-shadow: 0 4px grey;
}
.active{
    top: 5px;
    box-shadow: none;
}
.display-none{
    display: none;
}

#next, #next1, #fight{
    margin-top: 50px;
}
/* Weird that this doesn't work*/
/* .p2-button:first-of-type{
    margin: 50px;
} */
/* #move2{
    margin-left: 150px;
} */
.p2-button, .p1-button{
    margin: 10px 1.3vw 5px;
    width: 21vw;
    height: 70px;
    /* height: 6vw; */
    font-size: large;
    border-radius: 20px;
}

#javamon-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

#next-div{
    display: flex;
    justify-content: center;
}

#next{
    /* position: absolute;
    top: 400px; */
    width: 30%;
    height: 40px;
}

#column-div{
    /* columns: 30vw 2; */
    column-count: 2;
    /* column-gap: 50px; */
    /* column-fill: balance; */
}
/* #column1{
    column-width: 250px;
} */
#fight-scene{
    display: flex;
    align-items: flex-end;
    /* height: 400px; */
    /* column-count: 2; */
    /* border: 2px solid black; */
    padding-top: 100px;
    /* height: fit-content; */
    margin-bottom: 20px;
    /* column-fill: auto; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    /* height: 400px; */
}

#floor1{
    position: absolute;
    /* justify-content: flex-end; */
    left: 30px;
    bottom: -30px;
    /* top: 5px; */
    /* right: -10px; */
}
#floor2{
    position: absolute;
    /* right: 165px; */
    left: 115px;
    bottom: 25px;
    /* top: 90px; */
    width: 150px;

}
.player1, .player2{
    /* display: flex;
    justify-content: flex-end; */
    position: relative;
}

@keyframes player1-animate{
    0% {margin-left: 0px}
    50%{ margin-left: 30px;}
    100% {margin-left: 0px;}
}

@keyframes player2-animate{
    0% {margin-left: 0px;}
    50% {margin-left: -30px;}
    100% {margin-left: 0px;}
}

#player1{
    position: relative;
    /* bottom: 10px; */
    /* right: 65px;  */
    /* margin: 0 0 0 25vw; */
    /* z-index: 3; */
    /* animation-name: player1Animate; */
    animation-duration: .2s;
} 

#player2{
    /* margin: 0 0 4vw 20vw; */
    position: relative;
    /* right: 175px; */
    bottom: 50px;
    /* animation-name: player2Animate; */
    animation-duration: .2s;
}

.column1{
    /* display: flex;  */
    /* height: 400px; */
    /* align-items: flex-start; */
    /* background-color: magenta; */
}
.column2{
    margin-left: 1.3vw;
    /* height: 400px; */
    /* background-color: #2b0902; */
}

/* .player2{
    margin-top: -s20px;
    margin-bottom: 20px;
} */

#health1{
    background-color: blue;
    /* width: 100%; */
    height: 20px;
    margin: 0 0 -4px 1.3vw;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 25px;
}

#health2{
    background-color: blue;
    /* width: 42vw; */
    height: 20px;
    margin: 0 0 -4px 5.2vw;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 25px;
}
#health1-div, #health2-div{
    break-after: column;
    width: 45.9vw;
    margin-top: 40px;
    border-right: 2px solid black;
    /* justify-content:  */
    /* border-bottom-right-radius: 8px; */
    /* border-top-left-radius: .8px; */
}
#health2-div{
    width: 49.9vw;
}
#next1, #fight{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #EE513A;
    color: whitesmoke;
    font-size: large;
    /* margin: 0 10px 0; */
}

img{
    /* width: 100%; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}