#canvas{
    background-color: red;
    width: 95vw; 
    height: 40vw;
}

.javamon-button:first-of-type{
    margin-top: 50px;
}

.javamon-button{
    margin: 10px;
    width: 100px;
    height: 60px;
    border-radius: 40px;
}

.display-none{
    display: none;
}

#next, #next1{
    margin-top: 50px;
}
/* Weird that this doesn't work*/
/* .p2-button:first-of-type{
    margin: 50px;
} */
/* #move2{
    margin-left: 150px;
} */
.p2-button, .p1-button{
    margin: 10px 1vw 5px;
    width: 20vw;
    /* height: 6vw; */
    font-size: large;
}

#column-div{
    /* columns: 30vw 2; */
    column-count: 2;
    /* column-gap: 50px; */
    /* column-fill: balance; */
}
/* #column1{
    column-width: 250px;
} */
#fight-scene{
    column-count: 2;
    /* border: 2px solid black; */
}


#health1{
    background-color: blue;
    /* width: 42vw; */
    height: 20px;
    margin: 0 0 -4px 1vw;
    /* border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
}

#health2{
    background-color: blue;
    /* width: 42vw; */
    height: 20px;
    margin: 0 0 -4px 1vw;
    /* border-right: 1px solid black; */
    /* padding-bottom: 0; */
}
#health1-div, #health2-div{
    width: 43vw;
    border-right: 2px solid black;
    /* border-top-right-radius: .8px;
    border-top-left-radius: .8px; */
}
